pandas>=2.0.0
numpy
scikit-learn
matplotlib
plotly
streamlit
yfinance>=0.2.50
xgboost
lightgbm
optuna
joblib
pandas_market_calendars
pytz
fpdf
# Essential for Plotly-to-PDF image conversion
kaleido==0.2.1
# Essential for stable web sessions
requests
urllib3
requests_cache>=0.9.8