# Data & Math
pandas>=2.0.0
numpy
scikit-learn
xgboost
lightgbm
optuna

# Data Fetching (Crucial Updates)
yfinance>=0.2.54
requests
urllib3
requests-cache>=0.9.8

# Visualization & Reporting
matplotlib
plotly
streamlit
kaleido==0.2.1
fpdf

# Time & Market Logic
pandas_market_calendars
pytz
joblib