# Data & Math
pandas>=2.0.0
numpy
scikit-learn==1.7.2
xgboost
lightgbm
optuna

# Data Fetching (Crucial Updates)
yfinance>=0.2.54
requests
urllib3
requests-cache>=0.9.8

# Visualization & Reporting
matplotlib
plotly
streamlit==1.30.0
altair==4.2.2
kaleido>=1.0.0
fpdf

# Time & Market Logic
pandas_market_calendars
pytz
joblib
